@media (prefers-color-scheme: dark) {
    //SASS
    // color-scheme: dark;

    $scrollbar-track-bg-color: transparent;
    $scrollbar-thumb-bg-color: #757575;
    $scrollbar-thumb-bg-color--hover: #9d9d9d;
    $scrollbar-thumb-bg-color--active: #9d9d9d;

    $bg-primary: black;
    $color-primary: white;

    //CSS
    :root {
        color-scheme: dark;

        --bg-primary: #{$bg-primary};
        --color-primary: #{$color-primary};

        --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};

        --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
        --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
        --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};

        //For svgs
        .svg {
            filter: invert(100%) hue-rotate(180deg);

            transition: filter 350ms ease-in-out;
        }

    }

    ::backdrop {

        --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};

        --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
        --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
        --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};
    }
}