@use "../utils/" as *;


.active {
    border: 2px solid var(--color-primary) !important;


    &>.index__svg {
        color: var(--color-primary) !important;
    }
}

.hide {
    display: none !important;
}

.no-event-listener {
    pointer-events: none !important;
}

.fade-out {
    animation-name: fade-in;
    animation-duration: 350ms;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}