@use "../utils/" as *;


.active {
    border: 2px solid var(--color-primary) !important;


    &>.index__svg {
        color: var(--color-primary) !important;
    }
}

.hide {
    display: none !important;
}

.no-event-listener {
    pointer-events: none !important;
}