$scrollbar-track-bg-color: transparent;
$scrollbar-thumb-bg-color: #757575;
$scrollbar-thumb-bg-color--hover: #9d9d9d;
$scrollbar-thumb-bg-color--active: #9d9d9d;

$selection-bg-color: #005aff;


$bg-primary: white;
$bg-secondary: #e6e6e6;
$bg-tertiary: #a5a5a5;

$color-primary: black;

//CSS
:root {
    color-scheme: light;

    --bg-primary: #{$bg-primary};
    --bg-secondary: #{$bg-secondary};
    --bg-tertiary: #{$bg-tertiary};

    --color-primary: #{$color-primary};

    --selection-bg-color:#{$selection-bg-color};

    --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};
    --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};
}

::backdrop {
    --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};

    --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};
}