@use "../utils/" as *;

.index {
    @include center-flex-column;

    background-color: transparent;

    min-height: 78dvh;

    position: relative;

    &__svg {
        aspect-ratio: 1/1;
        height: 50%;
        color: var(--bg-tertiary);
    }

    z-index: 2;

    &__canvas {
        z-index: 1;

        &--bars {
            display: none;
            position: absolute;
            @include absolute-center;

            height: 100%;
            width: 100%;

            outline-offset: -3px;
        }

        &--round {
            position: absolute;
            top: 0;
            left: 0;

            z-index: -1;

            width: 100%;
            height: 100%;
        }
    }

    &__file-label {
        border: 5px dashed var(--bg-tertiary);
        border-radius: 10px;

        aspect-ratio: 1/1;
        height: 250px;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        position: relative;

        &::before {
            content: "Upload an audio file";

            position: absolute;
            top: 25px;
        }
    }


    &__audio-player {
        background-image: linear-gradient(90deg,
                #dedad6, #dedad633,
                #212529, #21252933);
        background-position: 0%;
        background-size: 200%;

        transition:
            background-position 350ms ease-in-out;

        backdrop-filter: blur(15px);

        position: relative; //relative to the round <canvas> element

        padding: 20px;
        border-radius: 10px;

        z-index: 2;

        &--name {
            padding-bottom: 20px;
        }

        &--progress {}

        &--progress-bar {
            display: flex;

            width: 100%;
            min-height: 15px;

            background-color: blue;

            border-radius: 100vmax;
        }

        &--current-progress {
            display: inline-block !important;

            min-height: 15px;

            width: 50%;
            max-width: 100%;

            background-color: cyan;

            border-radius: inherit;

            transition: width 350ms ease-out;
        }

        &--timestamp {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        &--current-time {}

        &--total-time {}

        &--source {}

        &--controls {
            @include center-flex(15px)
        }

        &--buttons {}

        &--button {}

        &--volume {
            @include center-flex(15px);
        }

        &--mute {}

        &--slider {
            appearance: none;
            background-color: black;
            border-radius: 25px;
            height: 10px;
            overflow: hidden;

            width: 210px;

            --track-height: 10px;
            --thumb-size: 10px;

            &::-webkit-slider-runnable-track {
                border-radius: 25px;
                background-color: var(--color-input-range-bg);

                width: 100%;
                height: var(--track-height);

                overflow: hidden;

                &:hover {
                    cursor: pointer;
                }
            }

            &::-moz-range-track {
                border-radius: 25px;
                background-color: var(--color-input-range-bg);

                width: 100%;
                height: 10px;

                overflow: hidden;

                &:hover {
                    cursor: pointer;
                }
            }



            &::-webkit-slider-thumb {
                appearance: none;
                width: var(--thumb-size);
                height: var(--thumb-size);
                border: transparent;
                background-color: white;

                border-radius: 100vmax;
                box-shadow: -105px 0px 0px 100px darkgrey;
                transition: background-color 250ms ease-out;

                @include mobile-only {
                    box-shadow: -155px 0px 0px 150vw darkgrey;
                }
            }


            &::-moz-range-thumb {
                appearance: none;
                width: var(--thumb-size);
                height: var(--thumb-size);
                border: transparent;
                background-color: white;

                border-radius: 100vmax;
                box-shadow: -105px 0px 0px 100px darkgrey;
                transition: background-color 250ms ease-out;

                @include mobile-only {
                    box-shadow: -155px 0px 0px 150vw darkgrey;
                }
            }
        }

    }
}