@use "../utils/" as *;

.index {
    @include center-flex-column(25px);

    background-color: transparent;

    min-height: 78dvh;

    position: relative;

    z-index: 2;

    @include mobile-landscape-only {
        min-height: 125dvh;
        gap: 35px;
    }

    &__svg {
        aspect-ratio: 1/1;
        height: 25%;
        color: var(--bg-tertiary);
    }

    &__authorize-button {
        color: var(--bg-primary);
        background-color: var(--color-primary);

        padding: 5px 10px;
        border-radius: 100vmax;

        min-width: 85px;

        transition: filter 150ms ease-in-out;

        &:hover {
            filter: contrast(75%);
        }

        &:active {
            outline: 2px solid var(--bg-primary);
            outline-offset: 5px;
        }
    }


    &__canvas {
        z-index: 1;

        &--bars {
            position: absolute;
            @include absolute-center;

            height: 100%;
            width: 100%;

            outline-offset: -3px;

            z-index: -1;
        }

        &--round {
            position: absolute;
            top: 0;
            left: 0;

            z-index: -1;

            width: 100%;
            height: 100%;
        }
    }

    &__file-label {
        border: 2px dashed var(--bg-tertiary);
        border-radius: 10px;

        aspect-ratio: 1/1;
        height: 250px;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        position: relative;

        &::before {
            content: "Upload an audio file";

            position: absolute;
            top: 25px;
        }
    }


    &__audio-player {


        &--component {
            width: 50%;

            @include center-flex-column;

            @include mobile-only {
                width: 80%;
            }
        }

    }


}